# Set Operators

## Introduction

- Set operators in T-SQL are used to **combine the results of two or more** `SELECT` queries. 
- They are used to work with the output of multiple result sets and return combined data based on specific conditions. 
- These operators are useful for performing <u>union</u> operations, finding <u>differences</u>, or even <u>intersecting</u> data from different queries.

#### Types of Set Operators:

- UNION
- UNION ALL
- INTERSECT
- EXCEPT

#### Important Considerations

- The columns involved in set operations must be compatible in terms of number and data types.
- Set operations always operate on the entire result set.
- You can use `ORDER BY` with a set operator, but it <u>can only appear once at the end</u> of the combined query.

#### Performance Considerations

- `UNION` can be slower than `UNION ALL` <u>because it removes duplicates</u>. If duplicates are not important, `UNION ALL` can be **more efficient**.
- Always ensure that the columns in both queries have <u>matching data type</u>s to avoid errors.

####  Practical Use Cases

- Combining results from different databases or tables.
- Finding common or distinct records between two data sets.
- Comparing data sets from different time periods (e.g., sales data from different years).

### UNION

- Combines the results of two queries and <u>removes duplicate</u> rows.

### UNION ALL

- Combines the results of two queries, <u>including duplicate</u>.

### INTERSECT

- Returns only the rows that are <u>common to both</u> queries.

### EXCEPT

- Returns the rows from the first query that do not appear in the second query.

# Precedence

- The `INTERSECT` operator <u>precedes</u> `UNION` and `EXCEPT`; 
- `UNION` and `EXCEPT` are evaluated <u>in order of appearance</u>.

In [ ]:
-- The INTERSECT operator is evaluated first, 
-- even though it appears second in the code.

SELECT country, region, city FROM Production.Suppliers
EXCEPT
SELECT country, region, city FROM HR.Employees
INTERSECT
SELECT country, region, city FROM Sales.Customers;

In [3]:
-- To control the order of evaluation of set operators, 
-- use parentheses, because they have the highest precedence
-- and they increase the readability.

(SELECT country, region, city FROM Production.Suppliers
 EXCEPT
 SELECT country, region, city FROM HR.Employees)
INTERSECT
SELECT country, region, city FROM Sales.Customers;

country,region,city
Canada,Québec,Montréal
France,NULL,Paris
Germany,NULL,Berlin